body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
.header{
    background-color: orange;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding-left: 3%;
    padding-right: 3%;
    position: relative;
    flex-wrap: wrap;
}

#menu-options{
    border:1px solid white;
    width: 20%;
    height: auto;
    background-color: white;
    position: absolute;
    right: 0;
}
.header-left{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}
.header-left img{
    height: 30px;
    width: 30px;
    border-radius: 5px;
}


 .main-part1{
    background-image: url('./main-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    max-width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} 

.main-part1-search{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin-bottom: 20px;
    
    
}
.main-part1-search input{
    border-radius: 25px;
    height: 50px;
    width: 300px;
    border: 1px solid white;
    margin-right: 20px;
    box-sizing: border-box;
    padding: 20px;

    

}
.main-part1-search i{
    background-color: orange;
    color: white;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;

}
.col .card-category img, .col .card-item img, .card-meals img {
    transition: transform 0.3s ease-in-out;
}

.col .card-category img:hover, .col .card-item img:hover, .card-meals img:hover {
    transform: scale(0.7);
}
.col .card-category, .col .card-item, .card-meals {
    height: 100%;
}
/* for selected cards, title, descripton, meals */
.title-description{
    border: 2px solid orangered;
    margin-top: 3%;
    margin-bottom: 6%;
    margin-left: 0%;
    margin-right: 0%;
    padding: 1%;
    background-color: rgb(250, 250, 250);
}
.title-description #title{
    color: orangered;
}
.title-description #description{
    font-size: large;
}



#name-heading{
    background-color: orangered;
    color: white;
    display: flex;
    gap: 1%;
    font-size: 2rem;
    padding-left: 3%;
    margin-bottom: 1%;


}


/*starts from here*/

#idItem{
    padding: 1%;
    display: none;
}
#id_details_container{
    /* border:5px solid green; */
    /* height:fit-content ; */
    width: 100%;
}

#id_part1{
    /* height: 100%; */
    max-height: fit-content;
    /* border: 5px solid red; */
    width: 100%;
    display: flex;
    gap:5%;
    /* padding:3%; */
    box-sizing: border-box;
    margin-bottom: 3%;
}

#id_image{
    /* border:5px solid green;  */
    /* flex:1; */
    width: 40%;
    max-height: 100%;


}

#id_description{
    /* border:5px solid green; */
    /* flex:1; */
    width: 60%;
    max-height: 100%;
    /* padding: 2%; */


}

#measure{
    margin-bottom: 2%;
}
#mealsusingsearch{
    display:none;
    padding: 1%;
}








/* 3 horizontal lines  */
/* .menu-options{
    display: none;
    position: absolute;
    background-color: white;
    padding: 4%;
} */


/* @media (min-width:620px) {
    div{
        background-color: yellow;
    }
    .main-part1-search{
        content: '';
        opacity: 2;
        transform: translateX(50%);
        transition: 3s all ease ;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        background-color: aquamarine;
    }
    .main-part1{
        content: '';
        display: flex;
        gap: 20px;
        align-items:center;
        justify-content: center;
    }
} */